@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Karla", sans-serif;
}

#bg::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #000;
}

#bg {
  background-image: url("./img/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
  /* background-image: url("./img/clement-falize-b9K_LTz079c-unsplash.jpg"); */
  background-size: cover;
  z-index: 1;
  display: block;
  position: absolute;
  left: 0;
  top: 50;
  width: 100%;
  height: 100%;
}

#logo {
  height: 40px;
  width: 40px;
  padding-top: 5px;
  float: left;
  border-radius: 8px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #fcfcfc;
  box-shadow: 10px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-right: 20px;
  color: #212121;
  font-size: 16px;
  float: right;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
  color: #212121;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  /* background-color: #55acee; */
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  /* background-color: #66bdff; */
}

.formLayout {
  border: 1px solid #777;
  width: 520px;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  background-color: #fff;
}

.profilePic {
  /* width: 60px; */
  height: 60px;
  border-radius: 50%;
}

#postContent {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  resize: none;
  font-size: 14px;
  border-color: #dedede;
  width: 450px;
}

#content {
  position: relative;
  z-index: 999;
}

.makePawpostSubmit {
  float: right;
  width: 70px;
  padding: 5px;
  background-color: #55acee;
  border-radius: 3px;
  color: #fff;
}

/* NEW */
.slogan {
  /* border: 1px solid orange; */
  text-align: center;
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
  color: #f8f8f8;
}

.mainForm {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  /* padding-top: 50px; */
  font-size: 1.2em;
  /* border: 1px solid black; */
}

.mainForm h3 {
  text-align: center;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  width: 250px;
  background-color: #55acee;
  border-radius: 2px;
  border-color: #66acee;
  padding: 3px 0px;
  color: white;
  text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}

#user,
#pass,
#pass2 {
  font-size: 18px;
  width: 250px;
  /* border-radius: 6px; */
  /* padding-left: 10px; */
  padding: 5px 0px 5px 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: -1px;
  font-family: "Karla", sans-serif;
}

#user:focus,
#pass:focus,
#pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}

#toastMessage {
  display: none;
  border: 1px solid #616770;
  border-top: 5px solid #d5300d;
  /* bottom: 15px; */
  bottom: 20px;
  width: 300px;
  height: 90px;
  position: absolute;
  z-index: 200;
  right: 15px;
  overflow: hidden;
  background-color: #fff;
}

#toastMessage h3 {
  width: 240px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#errorMessage {
  font-size: 16px;
  font-weight: normal;
  /* font-weight: bold; */
  color: #d5300d;
  /* font-style: italic; */
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}

/* NEW */
.pawpost {
  /* padding-top: 10px; */
  border: 1px solid #777;
  width: 520px;
  margin: 15 auto;
  display: flex;
  padding: 15px;
  background-color: #fff;
}

.pawpostDate {
  color: #616770;
  font-size: 12px;
  margin-top: -12px;
}

.contentInfo {
  width: 500px;
  padding-left: 10px;
}

.editButton {
  color: #777;
}

.editButton:hover {
  color: #212121;
}

.editButton,
.closeButton {
  padding: 0;
  float: right;
}

.footer {
  display: block;
  /* padding: 10px 0; */
}

.closeButton {
  position: absolute;
  /* left: 520px;
  top: 20px; */
  left: 775px;
  top: 65px;
}

.closeButton:hover {
  color: #d5300d;
}

#contentEdit {
  /* margin: 20px 0; */
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
  /* margin-left: 10px; */
  margin-bottom: 15px;
  resize: none;
  border-color: #dedede;
  width: 500px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.modal {
  background-color: #fff;
  /* border-radius: 5px; */
  max-width: 500;
  /* min-height: 300; */
  margin: 0 auto;
  padding: 30px;
}

.statusUpdated {
  margin-top: 0px;
  color: #616770;
  font-size: 14px;
}

.username {
  color: #4199df;
  font-weight: 800;
}

.pawpostContent {
  font-size: 16px;
  color: #212121;
}

.pageTitle {
  width: 550px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.changePassword {
  /* border: 1px solid black; */
  width: 550px;
  margin: 0 auto;
}

#currentPassword,
#newPassword1,
#newPassword2 {
  font-size: 18px;
  width: 250px;
  padding: 5px 0px 5px 15px;
  display: block;
  /* margin: 0 auto; */
  margin-bottom: -1px;
  font-family: "Karla", sans-serif;
}

.changePasswordSubmit {
  /* float: right; */
  width: 80px; /* 90 */
  padding: 5px;
  background-color: #55acee;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
  /* font-size: 16px; */
  /* font-family: "Karla", sans-serif; */
}
